<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width" , initial-scale=1.0" >
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<link rel="stylesheet" href="/css/addRecipe.css">
    <title>addrecipe</title>
  </head>
  <body class="kol">
   
    <br />
    <button onclick="gohome()" class="homebutton">home</button>
    <br /> 
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <h1 class="wellcome">ADDFOOD</h1>
   
    <label for="title" class="wellcom1">title:</label>
    <input type="text" id="title" class="in" />
    <br />
    <label for="ing" class="wellcom">ingredients: </label>
    <input type="text" id="ing" class="in" />
    <br />
    <label for="desp" class="wellcom">description:</label>
    <input type="text" id="desp" class="in" />
    <br />
    <br />
    <button onclick="add()" class="bb">add</button>
    
  </body>
  <script type="text/javascript"  src="/js/addRecipe.js"></script>
 
</html>
