<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe Sharing</title>
    <link rel="stylesheet" href="/css/index.css">
    
</head>
<body class="kol">
    
    <div class="header">
        <h1 class="wellcom">Recipe Sharing App</h1>
        <a href="/recipes/add" class="aa">add your recipe</a>
        <a href="/users/signup" class="aa">Sign Up</a>
        <a href="/users/login" class="aa">Login</a>
        <a href="/users/fav" class="aa">favorites</a>
        <form class="search">
            <input class="search-field" type="text" placeholder="search recipe ...">
            <button type="submit">search</button>
            <button type="submit" onclick="exit()">exit</button>

        </form>
        
    </div>
    <div class="recipes">
        
    </div>

  
</body>
<script src="/js/index.js"></script>

</html>