<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <title>Recipe Sharing app</title>
    <link rel="stylesheet" href="/css/recipe.css">
</head>
<body class="kol">
  
    <button onclick="gohome()" class="homebutton">home</button>
    <div class="container">
       
    </div>
    <br>
    <button class="add-favorite" onclick="funcfav()">Add to favorite</button>
    <br> <br>
    <button id="rate" onclick="funcrate(1)">1</button>
    <button id="rate" onclick="funcrate(2)">2</button>
    <button id="rate" onclick="funcrate(3)">3</button>
    <button id="rate" onclick="funcrate(4)">4</button>
    <button id="rate" onclick="funcrate(5)">5</button>
   
</body>
<script type="text/javascript" src="/js/recipe.js"></script>


</html>