.kol{
    background: url(https://img.freepik.com/free-photo/fresh-colourful-ingredients-mexican-cuisine_23-2148254294.jpg?size=626&ext=jpg&ga=GA1.1.1826414947.1721347200&semt=ais_user) ;
   }
   .homebutton{
    margin-left: 95vw;
    float:inline-start;
  }
